@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .markdown-body {
    @apply prose prose-slate max-w-none;
  }
}
